# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.npm
*.log
.vscode/
.idea/
*.swp
*.swo

# Firebase
.firebase/
firebase-debug.log
ui-debug.log

# Mac
.DS_Store
.vercel
